<!--
<div class="auth-message">
  <p *ngIf="auth.isAuthenticated()">Logged in</p>
  <p *ngIf="!auth.isAuthenticated()">Not logged in. <a (click)="auth.login()">Log In</a> to continue.</p>
</div>
-->
<div class="home">

  <div class="alert alert-secondary">
    <div class="sign-up-message" *ngIf="!auth.isAuthenticated()">
      <p>New user?  <br class="sentence-break">Sign up to have your <br class="mid-sentence-break">scores saved!</p>
      <button class="btn btn-primary">Sign Up</button>
    </div>
    <div *ngIf="auth.isAuthenticated()">
      <p>Hi {{username}}!</p>
    </div>
  </div>

  <app-game></app-game>

</div>
